<div class="chat-message-header">
  {{#if actorImg}}
  <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
  {{/if}}
  <h4 class="chat-actor-name">{{alias}}</h4>
</div>

<hr>

{{#if img}}
<div>
  <img class="chat-icon" src="{{img}}" alt="{{alias}}" />
</div>
{{/if}}

<div>
  <ul>
    {{#if (eq mode "cephaly")}}
    <li>{{localize "ECRY.ui.cephaly"}} : {{localize skill.name}} </li>
    {{else}}
    <li>Confrontation : {{alias}} </li>
    {{/if}}

    <li>{{localize skill.name}}: {{skill.value}} </li>
    {{#if spec}}
    <li>{{localize "ECRY.chat.specialization"}} {{spec.name}} (+2) </li>
    {{/if}}

    {{#each traitsBonus as |trait idx|}}
    {{#if trait.activated}}
    <li>{{localize "ECRY.chat.traitbonus"}}: {{trait.name}} ({{trait.system.level}}) </li>
    {{/if}}
    {{/each}}
    {{#each traitsMalus as |trait idx|}}
    {{#if trait.activated}}
    <li>{{localize "ECRY.chat.traitmalus"}}: {{trait.name}} ({{trait.system.level}}) </li>
    {{/if}}
    {{/each}}
    {{#if bonusMalusTraits}}
    <li>{{localize "ECRY.chat.bonusmalustraits"}}: {{bonusMalusTraits}} </li>
    {{/if}}

  </ul>
  {{#if (isGM)}}
    {{#if (eq mode "cephaly")}}
    <div>
      <span>{{localize "ECRY.chat.difficulty"}}</span>
      <select id="{{rollId}}-cephaly-difficulty" name="cephaly-difficulty">
        {{#for 1 20 1}}
        <option value="{{this}}">{{this}}</option>
        {{/for}}
      </select>
    </div>
    <button class="button-apply-cephaly-difficulty">{{localize "ECRY.ui.cephalydifficulty"}}</button>
    {{else}}
    <button class="button-select-confront">{{localize "ECRY.ui.selectconfront"}}</button>
    {{/if}}
  {{/if}}
</div>

</div>