<div class="chat-message-header">
  {{#if actorImg}}
  <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
  {{/if}}
  <h4 class="chat-actor-name">{{alias}}</h4>
</div>

  <hr>
  
  {{#if img}}
  <div >
    <img class="chat-icon" src="{{img}}" alt="{{name}}" />
  </div>
  {{/if}}

  <div class="flexcol">
    </div>

    <div>
      <ul>
        {{#if skill}}
          <li>{{localize skill.name}}: {{skill.value}} </li>
          {{#if spec}}
            <li>{{localize "ECRY.chat.specialization"}} {{spec.name}} (+2) </li>
          {{/if}}
        {{/if}}

        {{#if skillTranscendence}}
          <li>{{localize "ECRY.ui.skilltranscendence"}}: {{skillTranscendence}} </li>

        {{/if}}

        {{#if traitsBonusList}}
          {{#each traitsBonusList as |trait idx|}}
          <li>{{localize "ECRY.chat.traitbonus"}}: {{trait.name}} ({{trait.system.level}}) </li>
          {{/each}}
        {{/if}}
        {{#if traitsMalusList}}
          {{#each traitsMalusList as |trait idx|}}
            <li>{{localize "ECRY.chat.traitmalus"}}: {{trait.name}} ({{trait.system.level}}) </li>
          {{/each}}
        {{/if}}
        {{#if bonusMalusTraits}}
          <li>{{localize "ECRY.chat.bonusmalustraits"}}: {{bonusMalusTraits}} </li>
        {{/if}}

        <li>{{localize "ECRY.chat.formula"}}: {{diceFormula}} </li>
        <li>{{localize "ECRY.chat.dicesum"}}: {{diceSum}} </li>
        <li>{{localize "ECRY.chat.result"}}: {{total}} </li>
        {{#if difficulty}}
          <li>{{localize "ECRY.chat.difficulty"}}: {{difficulty}} - {{localize "ECRY.chat.margin"}}: {{margin}} </li>
          {{#if isSuccess}}
            <li><label class="chat-result-text chat-result-success ">{{localize "ECRY.chat.success"}}</label></li>
          {{else}}
            <li><label class="chat-result-text chat-result-failure">{{localize "ECRY.chat.failure"}}</label></li>
          {{/if}}
        {{/if}}

      </ul>  
    </div>

  </div>
