</div>
    <div class="flexcol">
      <img class="{{#if system.ispositif}} {{else}}flip-tarot{{/if}}" src="{{img}}">
        <span class="tarot-title">{{name}}</span>
        {{#if system.isdualside}}
          <span class="tarot-title">{{#if system.ispositif}}Positif{{else}}Négatif{{/if}}</span>
        {{/if}}
        {{#if value}}
          <span class="tarot-title">Valeur : {{value}}</span>
        {{/if}}
    </div>
  </div>
