<form class="confrontation-roll-dialog">
  <header class="roll-dialog-header">
    {{#if img}}
    <img class="actor-icon" src="{{img}}" data-edit="img" title="{{name}}" />
    {{/if}}
    <h1 class="dialog-roll-title roll-dialog-header">{{title}} ({{skill.value}})</h1>
  </header>

  <div class="flexcol">

    <div class="flexrow">

      <div>
        <h3>{{localize "ECRY.ui.execution"}} : <span id="execution-total">{{executionTotal}}</span> </h3>
        <div id="confront-execution" class="flexrow confront-area confront-execution-area">
          {{> systems/fvtt-ecryme/templates/dialogs/partial-confront-dice-area.hbs filter="execution"}}
          <br>
          {{> systems/fvtt-ecryme/templates/dialogs/partial-confront-bonus-area.hbs filter="execution"}}
        </div>
      </div>

      <div>
        <h3>{{localize "ECRY.ui.preservation"}} : <span id="preservation-total">{{preservationTotal}}</span></h3>
        <div id="confront-preservation" class="flexrow confront-area confront-preservation-area">
          {{> systems/fvtt-ecryme/templates/dialogs/partial-confront-dice-area.hbs filter="preservation"}}
          {{> systems/fvtt-ecryme/templates/dialogs/partial-confront-bonus-area.hbs filter="preservation"}}
        </div>
      </div>

    </div>

    <h4>{{localize "ECRY.ui.dicepool"}}</h4>
    <div id="confront-dice-pool" class="flexrow confront-area confrontation-dice-list pool-list">
      {{> systems/fvtt-ecryme/templates/dialogs/partial-confront-dice-area.hbs filter="mainpool"}}
    </div>

    <h4>{{localize "ECRY.ui.bonuspool"}} (Total : {{count confrontBonus}})</h4>
    <div id="confront-bonus-pool" class="flexrow confront-area confrontation-bonus-list pool-list">
      {{> systems/fvtt-ecryme/templates/dialogs/partial-confront-bonus-area.hbs filter="mainpool"}}
    </div>

    {{#if weapon}}
    <div class="flexrow">
      <span class="roll-dialog-label">{{localize "ECRY.ui.weapon"}} : </span>
      <span class="roll-dialog-label">{{weapon.name}} ({{localize "ECRY.ui.effect"}} {{weapon.system.effect}})</span>
    </div>
    {{/if}}

    {{#if impactMalus}}
    <div class="flexrow">
      <span class="roll-dialog-label">{{localize "ECRY.ui.impactmalus"}} : </span>
      <span class="roll-dialog-label">{{impactMalus}}</span>
    </div>
    {{/if}}

    <div class="flexrow">
      <span class="roll-dialog-label">{{localize "ECRY.ui.skilltranscendence"}} : </span>
      <select class="" id="roll-select-transcendence" data-type="Number">
        {{#select skillTranscendence}}
        {{#for 0 skill.value 1}}
        <option value="{{this}}">{{this}}</option>
        {{/for}}
        {{/select}}
      </select>
    </div>
    <div class="flexrow">
      <span class="roll-dialog-label">{{localize "ECRY.ui.transcendapply"}} : </span>
      <select class="" id="roll-apply-transcendence" data-type="String">
        {{#select applyTranscendence}}
        <option value="execution">{{localize "ECRY.ui.execution"}}</option>
        <option value="preservation">{{localize "ECRY.ui.preservation"}}</option>
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">{{localize "ECRY.ui.spec"}} : </span>
      <select class="" id="roll-specialization" data-type="String" multiple>
        {{#each skill.spec as |spec idx|}}
        <option value="{{spec.id}}">{{spec.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">{{localize "ECRY.ui.traitbonus"}} : </span>
      <select class="" id="roll-trait-bonus" data-type="String" multiple>
        {{#each traits as | trait idx|}}
        <option value="{{trait._id}}" {{#if trait.isBonus}}selected{{/if}}>{{trait.name}} ({{trait.system.level}})</option>
        {{/each}}
      </select>
    </div>

    <div class="flexrow">
      <span class="roll-dialog-label">{{localize "ECRY.ui.traitmalus"}} : </span>
      <select class="" id="roll-trait-malus" data-type="String" multiple>
        {{#each traits as | trait idx|}}
        <option value="{{trait._id}}" {{#if trait.isMalus}}selected{{/if}}">{{trait.name}} ({{trait.system.level}})</option>
        {{/each}}
      </select>
    </div>


    <div class="flexrow">
      <span class="roll-dialog-label">Bonus/Malus : </span>
      <select id="bonusMalusPerso" name="bonusMalusPerso">
        {{#select bonusMalusPerso}}
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        {{/select}}
      </select>
    </div>


  </div>

</form>