<form class="skill-roll-dialog">
  <header class="roll-dialog-header">
    {{#if img}}
    <img class="actor-icon" src="{{img}}" data-edit="img" title="{{name}}" />
    {{/if}}
    <h1 class="dialog-roll-title roll-dialog-header">{{title}}</h1>
  </header>

    <div class="flexcol">
      
      {{#if skill}}
      <div class="flexrow">
        <span class="roll-dialog-label">{{localize skill.name}} : </span>
        <span class="roll-dialog-label">
          {{skill.value}}
        </span>
      </div>
      {{/if}}
      
      <div class="flexrow">
        <span class="roll-dialog-label">Bonus/Malus : </span>
        <select id="bonusMalusPerso" name="bonusMalusPerso">
          {{#select bonusMalusPerso}} 
            <option value="-3">-3</option>
            <option value="-2">-2</option>
            <option value="-1">-1</option>
            <option value="0">0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
          {{/select}}
        </select>        
      </div>

      {{#if weapon}}
      <div class="flexrow">
        <span class="roll-dialog-label">Défense : </span>
        <select id="bonusMalusDef" name="bonusMalusDef">
          {{#select bonusMalusDef}} 
            <option value="-3">-6 (réussite critique)</option>
            <option value="-3">-3 (réussite)</option>
            <option value="0">0 (echec ou pas d'esquive)</option>
            <option value="3">+3 (echec critique)</option>
          {{/select}}
        </select>        
      </div>

      <div class="flexrow">
        <span class="roll-dialog-label">Portée : </span>
        <select id="bonusMalusPortee" name="bonusMalusPortee">
          {{#select bonusMalusPortee}} 
            <option value="1">+1 (Portée courte)</option>
            <option value="0">0 (Portée moyenne)</option>
            <option value="-1">-1 (Portée longue)</option>
          {{/select}}
        </select>        
      </div>
      {{/if}}

  </div>

</form>