<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
    </div>
  </header>
  
  {{> systems/fvtt-ecryme/templates/items/partial-item-nav.hbs}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <div>
        <img class="item-tarot-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      </div>    

      <div>
        {{> systems/fvtt-ecryme/templates/items/partial-item-description.hbs}}
      
        <div class="tab details" data-group="primary" data-tab="details">

        <div class="tab" data-group="primary">
          <ul>

          <li class="flexrow">
            <label class="item-field-label-long">Type </label>
            <select class="item-field-label-long" type="text" name="system.tarottype" value="{{system.tarottype}}" data-dtype="String">
              {{#select system.tarottype}}
                {{#each config.tarotType as |type key| }}
                <option value="{{key}}">{{type}}</option>
                {{/each}}
              {{/select}}
            </select> 
          </li>

          {{#if isGM}}
            <li class="flexrow">
              <label class="item-field-label-long">Valeur endroit (ie positif) ?</label>
              <input type="input" class="item-field-label-short" name="system.numericvalueup" value="{{system.numericvalueup}}" data-dtype="Number" />
            </li>        
            <li class="flexrow">
              <label class="item-field-label-long">Valeur envers (ie négatif) ?</label>
              <input type="input" class="item-field-label-short" name="system.numericvaluedown" value="{{system.numericvaluedown}}" data-dtype="Number" />
            </li>        
            <li class="flexrow">
              <label class="item-field-label-long">A un sens (ie positif/négatif)?</label>
              <input type="checkbox" class="item-field-label-short" name="system.isdualside" {{checked system.isdualside}} />
            </li>
            {{#if system.isdualside}}
              <li class="flexrow">
                <label class="item-field-label-long">En positif ?</label>
                <input type="checkbox" class="item-field-label-short" name="system.ispositif" {{checked system.ispositif}} />
              </li>
            {{/if}}
            <li class="flexrow">
              <label class="item-field-label-long">Carte cachée (ie MJ seulement) ?</label>
              <input type="checkbox" class="item-field-label-short" name="system.isgm" {{checked system.isgm}} />
            </li>
          {{/if}}

          </ul>
        </div>
      </div>
    </div>

    </section>
</form>
