<li class="flexrow">
  <label class="item-field-label-long">{{localize "ECRY.ui.weight"}}</label>
  <input type="text" class="item-field-label-short" name="system.weight" value="{{system.weight}}"
    data-dtype="Number" />
</li>

<li class="flexrow">
  <label class="item-field-label-long">{{localize "ECRY.ui.cost"}}</label>
  <input type="text" class="item-field-label-short" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
  <select class="item-field-label-medium" type="text" name="system.costunit" value="{{system.costunit}}" data-dtype="Number">
    {{#select system.costunit}}
    {{#each config.costUnits as |unit key| }}
    <option value="{{key}}">{{localize unit.name}}</option>
    {{/each}}
    {{/select}}
  </select>
</li>

